* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    align-items: center;
    margin: 10px;
}

.header a {
    margin-right: 20px;
    color:black;
    font-size: 16px;
    text-decoration: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.header img {
    clip-path: circle();
}

.main {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.main img {
    object-fit: contain;
    height: 100px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search-input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.main .material-icons {
    color: gray;
}

.main .buttons {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.main .buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}