* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
}

body .page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    align-items: center;
    margin: 10px;
}

.header a {
    margin-right: 20px;
    color:black;
    font-size: 16px;
    text-decoration: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.header img {
    clip-path: circle();
    margin-left: 25px;
}

/* Main */

.main {
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.main img {
    object-fit: contain;
    height: 100px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search-input input {
    flex: 1;
    padding: 8px 20px;
    border: none;
    outline: none;
}

.main .material-icons {
    color: gray;
}

.main .buttons {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.main .buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.main .idioma p {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.main .idioma a {
    margin-left: 5px;
    text-decoration: none;
}

.main .idioma a:hover {
    text-decoration: underline;
}

.footer {
    background: #f2f2f2;
    flex-shrink: 0;
    display: block;
}

.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.settings {
    display: flex;
    align-items:flex-end;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
}


.settings ul li {
    display: inline-block;
    margin-left: 10px;
}

.settings ul li:hover {
    text-decoration: underline;
}